<!-- Editable table -->
<div class="container bg-light">
  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Details</th>
            <th scope="col">Qty</th>
            <th scope="col">Qty Unit</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Calculated Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <th scope="row">{{project.scope.name}}</th>
            <td>{{project.scope.details}}</td>
            <td>{{project.scope.qty}}</td>
            <td>{{project.scope.qtyUnit}}</td>
            <td>{{project.scope.unitPrice}}</td>
            <td>{{project.scope.calculatedPrice}}</td> -->
            <td><button class="btn btn-primary" (click)="onEditClicked()">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-primary" type="button" (click)="addScope()">Add Scope</button>
    </div>
  </div>

  <app-work-form *ngIf="editFormToggle" [editFormToggle]="editFormToggle"></app-work-form>
</div>


<!--
export class ProjectScope {
  constructor(
    public name: string,
    public details?: string,
    public qty?: number,
    public qtyUnit?: string,
    private unitPrice?: number,
    private calculatedPrice?: number,
    private url?: string,
    private photo?: string
  ) {}
} -->
