<div class="bg-blue">
    <div class="container">
      <h1>Rooms</h1>
      <h2>Under Construction</h2>
      <h4>To do:</h4>
        <ul>
          <li>Add form to create rooms for entire house</li>
          <li>Room data properties: SF, wall color, floor type, LF walls, total project cost to date</li>
          <li>Tie assocatiated projects to each room </li>
          <li>When user adds room, data becomes available as drop down when creating a project</li>
          <li>User can use LF and SF to help estimate  project work breakdown costs</li>
          <li>Pie in the sky: show house floorplan</li>
        </ul>
    </div>
  </div>
  